---
# Front Matter Block
---

html, body{height:100%}

body{
	background:#13113d;
	height:100%;
	margin:0;
	position:relative;
}

.holder{
	display: flex;
	justify-content:center;
	align-items:center;
}


.made-by{
	width:200px;
	position:absolute;
	bottom:20px;
	left:20px;

	img{
		max-width: 100%;
	}
}

header{
	height:50%;
}